* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    overflow-x: hidden;
}

nav {
    margin: 0px 180px 0px 40px;
    padding: 20px 60px 20px 50px;
}


ul {
    list-style-type: none;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 28px;
    color: #000;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.5s ease;
    font-style: bold;
    cursor: pointer;
}

li a:hover {
    background-color: white;
    color: black;
    font-size: 1.5rem;
}

.top {
    height: 120px;
    border: 0px solid black;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* overflow: hidden; */
    position: static;
    top: 0;
    width: 100%;

}

.description {
    position: absolute;
    left: 700px;
    top: 250px;
    display: block;
}

#head {
    letter-spacing: 5px;
    font-size: 80px;
    font-family: Century Gothic;
}

#para {
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    position: absolute;
    border: 0px solid white;
    width: 450px;
    height: 500px;
    left: 700px;
    top: 200px;
    border-radius: 40px;
    background: rgba(209, 214, 236, 0.6);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(28.3px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    /* visibility: hidden; */
    display: block;
}

.d2 {
    position: absolute;
    left: 45px;
    font-size: 24px;
    font-family: Segoe UI;
    letter-spacing: 2px;

}

#login {
    text-align: center;
    position: relative;
    width: 150px;
    left: 85px;
    font-size: 3rem;
    right: 5px;
    letter-spacing: 4px;
    border: 0px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#label1 {
    position: relative;
    top: 45px;
}

#label2 {
    position: relative;
    top: 80px;
}

#id {
    position: relative;
    top: 50px;
    width: 330px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    outline: none;
    font-size: 20px;
}


#pass {
    position: relative;
    top: 80px;
    width: 330px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    outline: none;
    font-size: 20px;
}

.p1 {
    margin: 35px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box2 {
    position: absolute ;
    border: 2px solid black;
    width: 450px;
    height: 550px;
    left: 700px;
    top: 200px;
    border-radius: 40px;
    background: rgba(209, 214, 236, 0.6);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(28.3px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    /* visibility: hidden; */
    display: block;
}

.d3 {
    position: absolute;
    left: 45px;
    font-size: 24px;
    font-family: Segoe UI;
    letter-spacing: 2px;

}

#reg {
    position: relative;
    left: 25px;
    font-size: 3rem;
    right: 45px;
    letter-spacing: 4px;
    border: 0px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#label4 {
    position: relative;
    top: 35px;
}

#label5 {
    position: relative;
    top: 55px;
}

#label6{
    position: relative;
    top: 70px;
}

#id2 {
    position: relative;
    top: 40px;
    width: 330px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    outline: none;
    font-size: 20px;
}

#email{
    position: relative;
    top: 60px;
    width: 330px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    outline: none;
    font-size: 20px; 
}

#pass2 {
    position: relative;
    top: 75px;
    width: 330px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    outline: none;
    font-size: 20px;
}
